/* footer */

div.my-footer {
    background-color: var(--color-acu-sand);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: var(--color-black);
    position: absolute;
    left: 15px;
    bottom: 8px;
}
